
    <div class="panel panel-default" id="story">
        <div class="panel-heading">
            <h3 class="panel-title" id="{{_id}}">{{news.title}}</h3>
        </div>
        <div class="panel-body">
            {{news.brief}}

            <p><a href="{{news.link}}" class="btn btn-sm btn-primary">Read More</a></p>

            <!---->
            <div class="form-group row addComment">
                <label for="comment" class="col-xs-2 col-form-label">Add a comment</label>
                <div class="col-xs-8">
                    <input class="form-control" type="text" value="" id="comment">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-sm btn-warning" id="sendComment" data-id="{{news._id}}" >Add </button>
                </div>
            </div>

        </div>
        <!--Added comments to the page-->
        <div class="panel-footer postedComments" id = "commentBox">Comments:
        {{#each body}}
            {{body}}
        {{/each}}

        </div>


    </div>



<div class="arrowContainer">
    <div class="arrowBox" id="arrowLeft" >
        <p> <a href="/news/previous/{{index}}/{{news._id}}">&#171; </a></p>
    </div>
    <div class="arrowBox" id="arrowRight">
        <p> <a href="/news/next/{{index}}/{{news._id}}">&#187; </a></p>
    </div>
</div>



<!--<div class="mastfoot">-->
<!--<div class="inner">-->
<!--<p>Built by Little Gnomes honoring the Finley <a href="http://thefinleycode.com">Code</a>.</p>-->
<!--</div>-->
<!--</div>-->
